{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Predict AMR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <img src="{% static 'header.png' %}" class="img-fluid" alt="header image">
    
    <nav class="navbar navbar-expand-lg" style="background-color: #273755;">
        <div class="container-fluid nav justify-content-center" style="font-size: 20px;">
          <div class="nav justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="{% url 'dashboard:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard:demo' %}">Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard:antibiogram' %}">Antibiogram</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard:modeldetails' %}">Model Details</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

      <br>
      <div class="card w-75 mx-auto">
        <div class="card-header">
          Using Machine Learning Algorithms and Integrons to Predict Antimicrobial Resistance in Common Infection-causing Bacteria
        </div>
        <div class="card-body">
          <h5 class="card-title">In Silico Antibiogram Tool</h5>
          <p class="card-text">This web-based application built on the machine learning model aims to deliver early detection of 
            AMR in pathogens and prescription of more effective antibiotics. <br><br>
            a. The application can read a whole-genome sequencing data in FASTA format.<br>
            b. The application displays the predicted antibiograms. <br>
            c. The application has a section that displays if integron is present and AMR genes detected on WGS. <br>
            d. The application has demo samples of bacteria isolates for users to see how the application works. <br>
            e. The application has a section where the user can see the details of prediction models, such as performance summary, that was used to train the data set.</p>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>